@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Roboto&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 150hv;
  width: 100hv;
  font-family: "Girassol", cursive;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 150px;
  max-width: max-content;
  min-width: 32rem;
  background: linear-gradient(45deg, #0c0200, #2f3131);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
  border-radius: 20px;
  padding-left: 20px;
  color: aliceblue;

}

.content {
  margin-bottom: 20px;
}

.card img {
  height: 374px;
  width: 300px;
  padding-bottom: 10%;
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.card h2 {
  margin-top: 20px;
  color: #e5aa1d;
  transition: all 0.3s;
}

.card p,
a {
  font-family: "Source sans pro", sans-serif;
  transition: all 0.3s;
  opacity: 0;
}

.card p {
  width: 250px;
  margin-bottom: 25px;
}

.card a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background-color: #0072b1;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.card a:hover {
  color: #0c0200;
  background-color: #ffff;
}

.card:hover img {
  left: 85%;
  height: 435px;
  width: 345px;
}

.card:hover h2 {
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.card:hover p,
.card:hover a {
  opacity: 1;
}